*{
  box-sizing: border-box;
}
body{
  background: #92b;
  color: rgb(252, 252, 252);
  line-height: 1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1em;
}
.container{
 max-width: 1170px;
 margin-left: auto;
 margin-right: auto;
 padding: 1em;
}
ul{
  list-style: none;
  padding: 0;
}
.brand{
  text-align: center;
}
.wrapper{
  box-shadow: 0 0 20px 0 darkgrey;
}
.wrapper > *{
  padding: 1em;
}
.company{
  background: violet;
}
.company h3, .company ul{
  text-align: center;
  margin: 0 0 1rem 0;
}
.contact{
  background: lightblue
}
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}
.contact label{
  display: block;
}
.contact p{
  margin: 0;
}
.contact .full{
  grid-column: 1/3;
}
.contact button, .contact input, .contact textarea{
  width: 100%;
  padding: 1em;
  border: 1px solid violet;
}
.contact button{
  background: violet;
  border: 0;
  text-transform: uppercase;
}

.contact button:hover,.contact button:focus{
  background: #92b;
  color:white;
  outline:0;
  transition: background-color 2s ease-out;
}
@media(min-width:700px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
.wrapper > *{
  padding: 2em;
}
.company h3, .company ul, .brand{
  text-align: left;
}
